/*
 * NorCal Winter Camp 2018
 * styles.css
 *
*/


/*=======================================================
	Global
=======================================================*/
html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	height: 100%;
	width: 100%;
}


/*=======================================================
	Header
=======================================================*/
header {
	position: relative;
	width: 100%;
	min-height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url('../img/header-bg.jpg');   /* Image from here: https://unsplash.com/@tjump */
	background-color: #67726e;
	text-align: center;
	color: white;
}

header .header-content {
	position: relative;
	text-align: center;
	padding: 100px 15px 100px;
	width: 100%;
}

header .header-content .header-content-inner h1 {
	background: url('../img/logo-white.svg') no-repeat;
	background-position: center;
	font-size: 30px;
	font-weight: 700;
	height: 350px;
	margin-top: 0;
	margin-bottom: 0;
	text-indent: -9999px;
	text-transform: uppercase;
}

header .header-content .header-content-inner h2 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 0;
	font-size: 30px;
	//text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
	header {
		min-height: 100%;
	}

	header .header-content {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 0 50px;
	}
}


/*=======================================================
	Nav
=======================================================*/
/*
#rsvp-link {
	background: #F05F40;
	color: #fff;
	padding: 6px 19px;
	border: 0 none;
	border-radius: 3px;
	margin-top: 9px;
}

#rsvp-link:hover {
	background: #222;
	color: #fff;
}


/*=======================================================
	Blurb
=======================================================*/
#blurb {
	padding: 3rem 0;
}

#blurbHeader h2 {
	font-weight: 700;
	text-transform: uppercase;
}

/* --- Base (>768) --- */
@media (min-width: 768px) {
	#blurb {
		padding: 4rem 0 3rem;
	}

	#blurbHeader {
		text-align: right;
	}
}

/* --- Medium (768-1199) --- */
@media (max-width: 1199px) and (min-width: 768px) {
	#blurbHeader h2 {
		font-size: 3rem;
		line-height: .9;
		margin-top: 0;
	}
}

/* --- Large (>1200) --- */
@media (min-width: 1200px) {
	#blurbHeader h2 {
		font-size: 5rem;
		line-height: .9;
		margin-top: 0;
	}
}


/*=======================================================
	Details
=======================================================*/
#details .col-sm-5 {
	text-transform: uppercase;
}

/* --- Little (>768) --- */
@media (max-width: 767px) {
	#details {
		border-top: 2rem solid #252525;
		padding-top: 4.5rem;
	}
}

/* --- Base (>768) --- */
@media (min-width: 768px) {
	#details {
		background: #fff url('../img/group.png') no-repeat center top;
		padding-top: 341px;
	}
	
	#details .col-sm-5 {
		text-align: right;
		text-transform: uppercase;
	}
}

/* --- Medium (768-1199) --- */
@media (max-width: 1199px) and (min-width: 768px) {
	#details .col-sm-5 {
		text-align: right;
		text-transform: uppercase;
	}
}

/* --- Large (>1200) --- */
@media (min-width: 1200px) {
	#details .col-sm-5 h2 {
		font-size: 2.9rem;
		line-height: 1;
	}

	#details .col-sm-7 p {
		margin-bottom: 2rem;
	}
}